.hero {
  min-height: 60vh;
  background: #4f46e5;
  display: flex;
  justify-content: center;
  padding: 6rem 4rem;
  color: white;
}

.hero-content {
  display: flex;
  gap: 6rem;
}

.hero-text {
  flex: 1;
}

.title {
  font-size: 4.5rem;
  font-weight: 800;
}

.title span {
  color: #facc15;
}

.subtitle {
  font-size: 1.5rem;
  margin: 1.5rem 0 2.5rem;
  color: #e0e7ff;
}

.btn-primary {
  display: inline-block;
  background: #facc15;
  color: #1e293b;
  padding: 0.9rem 1.8rem;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-3px);
}

.hero-image img {
  max-width: 600px;
  width: 80%;
}

.intro {
  max-width: 1500px;
  margin: 5rem auto;
  padding: 0 7rem;
  display: flex;
  gap: 8rem;
  align-items: center;
}

.intro-text h2 {
  font-size: 2.5rem;
}

.intro-text p {
  font-size: 1.15rem;
  color: #35393f;
  line-height: 1.7;
}

.intro-image img {
  max-width: 420px;
}

.cards {
  padding: 2rem 2rem;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 2.5rem 2rem;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.35s ease;
}

.card img {
  width: 80px;
  margin-bottom: 1.5rem;
}

.card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.card p {
  color: #35393f;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}


@media (max-width: 900px) {
  .hero-content,
  .intro {
    flex-direction: column;
    text-align: center;
  }

  .title {
    font-size: 2.4rem;
  }
}
