<header class="topbar">
  <div class="topbar-inner">
    <div class="brand">Sitio-Estructura</div>

    <button class="menu-toggle" (click)="toggleMenu()">☰</button>


    <nav class="menu" [class.open]="menuOpen">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Inicio</a>
      <a routerLink="/breadcrumbs" routerLinkActive="active" (click)="closeMenu()">Breadcrumbs</a>
      <a routerLink="/elementos-sitio" routerLinkActive="active" (click)="closeMenu()">Elementos</a>
      <a routerLink="/menu" routerLinkActive="active" (click)="closeMenu()">Menú</a>
      <a routerLink="/mapa-sitio" routerLinkActive="active" (click)="closeMenu()">Mapa</a>
      <a routerLink="/busqueda" routerLinkActive="active" (click)="closeMenu()">Búsqueda</a>
    </nav>

    <form class="quick-search" (submit)="$event.preventDefault(); goSearch()">
      <input
        type="text"
        placeholder="Buscar..."
        [(ngModel)]="quickQuery"
        name="quickQuery"
      />
      <button type="submit">Ir</button>
    </form>

  </div>
</header>

<main class="content">
  <app-breadcrumb></app-breadcrumb>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="footer-inner">

    <div class="footer-brand">
      <h3>Sitio-Estructura</h3>
      <p>
        Desarrollo Web Profesional
      </p>
    </div>

    <div class="footer-links">
      <h4>Secciones</h4>
      <a routerLink="/">Inicio</a>
      <a routerLink="/breadcrumbs">Breadcrumbs</a>
      <a routerLink="/elementos-sitio">Elementos</a>
      <a routerLink="/menu">Menú de navegación</a>
      <a routerLink="/mapa-sitio">Mapa del sitio</a>
      <a routerLink="/busqueda">Búsqueda</a>
    </div>
  </div>
</footer>
